<!DOCTYPE html>
<html>
  <head>
    <title>NoPonto</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar' %>

    <%= render 'shared/alerts' %>

    <div id="wrapper" class="toggled">
      <%= yield %>
    </div>
    <%= render 'shared/modals' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDc1aaL4vDWVMt__WdEBG1hIuUi9nKGiAI&callback=initMap" async defer></script>
  </body>
</html>
