<!DOCTYPE html>
<html>
  <head>
    <title>NoPonto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/sidebar' %>
    <div id="wrapper" class="toggled">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
  </body>
</html>
